@page "/fetchdata"

@using TodoListBlazor.Data;
@inject TodoListService todoService

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<PageTitle>The Todo List</PageTitle>

<h1>The Todo List</h1>

@if (tasks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ol>
        @for(int i = 0; i<tasks.Length; i++)
        {
            <li>
                <TodoTask Task=@tasks[i] Id=@i></TodoTask>
            </li>
        }
    </ol>
}

<PostTask />

@code {
    private TaskData[]? tasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await todoService.GetTaskData();
        todoService.RefreshRequired += this.RefreshMe;
    }  
    
    private async void RefreshMe()
    {
        tasks = await todoService.GetTaskData();
        StateHasChanged();
        Console.WriteLine("Refreshed");
    }  
}
